main{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1 {
    font-size: 1.5em;
}
p {
    width: 450px;
    color: rgb(117, 117, 117);
}
hr{
    width: 100%;
    height: 1px;
    background-color: black;
}